
.event-body{
  margin: 0 0 0 0 !important;
}
.payload-row{
  margin-left:5px !important;
  height: 3em !important;
  white-space: nowrap !important;
  overflow-x: auto !important;
  position: absolute !important;
  width: 70% !important;
  text-overflow: ellipsis;
}
md-divider{
  margin: 0 0 1.5em 0;
}